<div class="navbar-fixed">
  <nav class="cyan">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo app-logo">koa</a>
      <a class="right dropdown-button app-actions" href="#!" data-activates="appActions">
        <i class="material-icons right">more_vert</i>
      </a>
    </div>
  </nav>
  <ul id="appActions" class="dropdown-content app-actions-content">
      <li><a href="#!" class="cyan-text">登录</a></li>
      <li><a href="#!" class="cyan-text">注册</a></li>
  </ul>
</div>
