<nav class="navbar sticky-top navbar-inverse bg-primary">
  <a href="http://koajs.com/" class="navbar-brand">koa</a>
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
  </button>
</nav>
