<%- include('./components/header') %>
  <div class="row app-message-write">
    <h3 class="center-align cyan-text">编辑消息</h3>
      <div class="col l6 m12 s12 offset-l3">
        <form method="post" action="/message/edit/<%= message._id %>" enctype="application/x-www-form-urlencoded">
          <div class="input-field">
           <i class="material-icons prefix">mode_edit</i>
           <input id="icon_prefix" type="text"
           class="validate" name="content" value="<%= message.content %>">
           <label for="icon_prefix">要怎么改呢?</label>
          </div>
          <input class="btn right waves-effect waves-light cyan app-message-submit" type="submit" value="确定" />
        </form>
    </div>
  </div>
<%- include('./components/footer') %>
