<%- include('./components/header') %>
<div class="row">
  <div class="col l6 s6 m6 offset-s3 offset-l3 offset-m3">
    <div class="card gray">
      <div class="card-content gray-text">
          <span class="card-title flow-text">明天更美好!!!</span>
          <a class="btn-floating btn-mini waves-effect waves-light cyan app-message-edit"><i class="material-icons">edit</i></a>
          <span class="app-message-info">发布者:&nbsp;<a href="">xrr</a></span>
          <span class="app-message-info">发布日期:&nbsp;2017年3月6日</span>
          <span class="app-message-info">最后更新:&nbsp;2017年3月6日</span>
      </div>
    </div>
    <div class="card gray">
      <div class="card-content gray-text">
          <span class="card-title flow-text">明天更美好!!!</span>
          <span class="app-message-info">发布者:&nbsp;<a href="">xrr</a></span>
          <span class="app-message-info">发布日期:&nbsp;2017年3月6日</span>
          <span class="app-message-info">最后更新:&nbsp;2017年3月6日</span>
      </div>
    </div>
    <div class="card gray">
      <div class="card-content gray-text">
          <span class="card-title flow-text">明天更美好!!!</span>
          <span class="app-message-info">发布者:&nbsp;<a href="">xrr</a></span>
          <span class="app-message-info">发布日期:&nbsp;2017年3月6日</span>
          <span class="app-message-info">最后更新:&nbsp;2017年3月6日</span>
      </div>
    </div>
    <div class="card gray">
      <div class="card-content gray-text">
          <span class="card-title flow-text">明天更美好!!!</span>
          <span class="app-message-info">发布者:&nbsp;<a href="">xrr</a></span>
          <span class="app-message-info">发布日期:&nbsp;2017年3月6日</span>
          <span class="app-message-info">最后更新:&nbsp;2017年3月6日</span>
      </div>
    </div>
  </div>
</div>
<%- include('./components/footer') %>
