<%- include('./components/header') %>
  <div class="row app-login-signup">
    <h1 class="center-align flow-text cyan-text">登录</h1>
    <div class="col l6 m12 s12 offset-l3">
        <form  action="/user/login" method="post">
          <div class="input-field">
            <i class="material-icons prefix">perm_identity</i>
            <input type="text" name="username" autofocus>
            <label for="username">用户名</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input type="password" name="password" class="validate">
            <label for="password">密码</label>
          </div>
        <input type="submit" class="right waves-effect waves-light btn cyan" value="登录">
      </form>
    </div>
  </div>
<%- include('./components/footer') %>
